HIBP_API_KEY=your_key_here
VIRUSTOTAL_API_KEY=b430bcbc81bd61ec676a16a67f3ccfbc1cfaddb92cc9ef996c9a23f2e3b21015
GROQ_API_KEY=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
DATABASE_URL=postgresql://postgres:1509B@localhost:5432/security_assistant